<!DOCTYPE html>
<html>
    <body>
        <h1>Today</h1>
        <%current = Time.now.strftime("%A, %B %d, %Y")%>
        <p><%= "The date is " + current%></p>
    </body>
</html>

<%# The date is Wednesday, November 18, 2015 %>